<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joon.ibox_back_end.market.mapper.NftListMapper">
    <!-- 新增用户 -->
    <select id="getNFTListByTag" resultType="com.joon.ibox_back_end.market.entity.NftListDto">
            SELECT
            nfts.name,
            nfts.image_url AS imageUrl,
            SUM(official_sales.circulate_count) AS totalCirculateCount,
            SUM(official_sales.issue_count) AS totalIssueCount,
            COALESCE(MIN(nft_instances.price), 0) AS lowestPrice,
            COUNT(DISTINCT transactions.id) AS dailyTransactionCount
            FROM
            nfts
            JOIN nft_tags ON nfts.id = nft_tags.nft_id
            JOIN tags ON nft_tags.tag_id = tags.id
            LEFT JOIN official_sales ON nfts.id = official_sales.nft_id
            LEFT JOIN nft_instances ON nfts.id = nft_instances.nft_id
            LEFT JOIN transactions ON nfts.id = transactions.nft_id
            WHERE
            nfts.is_listed = 0

            <if test="tag != null and tag != '全部'">
                AND tags.name = #{tag}
            </if>
            GROUP BY
            nfts.id
    </select>
</mapper>